.position {
	h1 {
		font-size: 3em;
		font-weight: lighter;
	}

	p {
		font-size: 1.45em;
		font-weight: lighter;
	}

	.codeContainer {
		background: #dee2e6;
	}

	.copy:hover {
		background: #007bff;
		color: white;
	}
}
