.layout {
	nav {
		background-color: #ffbb33;
		height: 65px;
	}

	.desktop {
		height: 100vh;

		aside {
			width: 230px;
			background-color: #aa66cc;
		}

		.content {
			background-color: #0099cc;
		}
	}

	.mobile {
		aside {
			background-color: #aa66cc;
		}

		.content {
			background-color: #0099cc;
		}
	}
}
