$navHeight: 72px;
$asideWidth: 230px;

.layout {
	background: #fdfdfd;
	height: 100vh;

	aside {
		width: $asideWidth;
	}

	.content {
		background: #fdfdfd;
	}

	@media (max-width: 1200px) {
		.rightSidebar {
			display: none;
		}
	}

	@media (min-width: 1200px) {
		.content {
			padding-right: $asideWidth;
		}
	}

	@media (min-width: 960px) {
		.navLayout {
			top: 0;
			width: 100%;
			position: fixed;
		}

		.leftSidebar {
			border-right: 1px solid #e5e5e5;
		}

		.leftSidebar,
		.rightSidebar {
			position: fixed;
			margin-top: $navHeight;
			height: 100vh;
		}

		.rightSidebar {
			right: 0;
		}

		.content {
			padding-left: $asideWidth;
			padding-top: $navHeight;
		}
	}
}
